table, tr, td, th{
border: 1px solid red;
border-collapse: collapse;
/*esta propiedad unifica los bordes*/

}

.ale{
    border: 1px soli    d yellowgreen;
/*La clase tiene preponderancia, es decir que cuando se ejecute, tendra prioridad sobre los otros selectores*/
}




.yingyang{
width: 400;
height: 400;
position: fixed;
top: 10%;

}

#yang:hover{
opacity: 0;

}


.cervezas{
width:150px;
height:110px;
}



/*
*{
    border: 1px solid orange;
    border-collapse: collapse;
*/

/* Se estilan los elementos incluidos en la tabla y se colapsa el  border de la misma, en lugar de hacer todo como arriba en la primera linea

table{
    border-collapse: collapse;
    esta propiedad unifica los bordes
    }

    tr, td, th{
        border: 1px solid orange;
        border-collapse: collapse;
        esta propiedad unifica los bordes
        
        }*/