<h2>Consulta de playlist</h2>
<hr>
<h3>Form, por get</h3>
<form action="/nivel3iframe" method="get">
    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist">

    <label for="song">Song</label>
    <input type="text" name="song" id="song">

    <input type="submit" name="" id="">
</form>

