<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Myucyk</title>
</head>

<body class="bg-dark text-white shadow  ">
    <nav class="nav nav-pills flex-column flex-sm-row bg-secondary text-light">
        <a class="flex-sm-fill text-sm-center nav-link" href="/  ">Home  <hr><p>Volver a casa</p></a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/nivel1">Nivel 1 <hr><p>Vista con todos los elementos de la playlist (artista, título del tema y el iframe)</p></a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/nivel2playlist">Nivel 2 Playlist<hr><p> Vista inicial que lista de todas las canciones con "artista - título". Cada elemento es un link a la otra vista.</p></a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/nivel2iframe">Nivel 2 Iframe <hr><p>  Vista con iframe, recibe video correspondiente al elemento clickeado en la playlist </p></a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/nivel3formulario">Nivel 3 Formulario<hr><p>Vista con formulario filtro para artista y para título. Con resultado de ese filtrado se renderiza la vista con iframe</p></a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/nivel3iframe">Nivel 3 iframe <hr><p>Vista con iframe, recibe filtrado correspondiente del formulario</p></a>
    </nav>
    {{{body}}}
</body>

</html>