<h2>Consulta de paises</h2>
<!-- FORMULARIO CON POST
    <form action="/paises" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">

        <label for="codigo">Codigo</label>
        <input type="text" name="codigo" id="codigo">

        <input type="submit" name="" id="">
    </form>
-->
        <form action="/paises" method="get">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">

        <label for="codigo">Codigo</label>
        <input type="text" name="codigo" id="codigo">

        <input type="submit" name="" id="">
    </form>
<!--
<div class="filtros">
    <div class="filtro">
        <label for="num1">Nombre</label>
        <input type="text" name="nombre" id="nombre">
    </div>

    <div class="filtro">
        <label for="codigo">Codigo</label>
        <input type="text" name="codigo" id="codigo">
    </div>

    <button id="buscar" onclick="buscar()">Consultar</button>
</div>



<script>

    function buscar() {

        let url = "/paises?"

        let nombre = document.getElementById("nombre").value;
        if (nombre) {
            url += "nombre=" + nombre;
        }

        let codigo = document.getElementById("codigo").value;
        if (codigo) {
            url += "codigo=" + codigo;
        }

        location = url;
    }

</script>
-->