* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filtros > input {
    font-size: 14px;
}

.filtro {
    margin: 10px 0;
}

label {
    font-size: 14px;
    color: black;
}

#buscar {
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    border: 1px solid white;
}


.img-tapa {
    width: 150px;
}

.disco {
    margin: 30px 0;
}